<main role="main" class="ml-sm-auto bg-dark" style="padding-left: 80px; height: 100vh">
  <div class="container-fluid bg-light">
    <div class="row list-conversas">
      <div class="col-md-12 bg-light">
        <div class="container text-center justify-content-center">
          <i class="fas fa-inbox" style="font-size: 50px; color: #ebebeb; margin-top: 20%"></i>
          <div class="container col-md-6">
            <p class="text-muted text-justify">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias rerum, officia ab dicta at magnam ex
              placeat
              inventore optio quisquam illum natus labore quos pariatur quidem eum quo! Veniam, inventore.
            </p>
            <hr class="col-1 bg-secondary">
            <p class="text-muted text-justify">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi dolorum deserunt dolor id aut accusamus,
              illum quibusdam earum saepe voluptate tempore magnam nobis quae laborum commodi sit corporis vitae
              itaque.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
